version: '3.1'

services:
  gcal2todoist:
    image: eitchtee/gcal2todoist
    restart: unless-stopped
    container_name: gcal2todoist
    volumes:
      - ./configs.yml:/usr/gcal2todoist/configs/configs.yml:ro
      - ./credentials/:/usr/gcal2todoist/.credentials/
      - ./db/:/usr/gcal2todoist/db/